In [1]:
import pandas as pd

In [14]:
df = pd.read_parquet('yellow_tripdata_2022-01.parquet', engine='fastparquet')

In [15]:
pd.io.sql.get_schema(df, name = 'yellow taxi data') 
#Convert data frame to data definition language (DDL), which describe how to table should look like in SQL

'CREATE TABLE "yellow taxi data" (\n"VendorID" INTEGER,\n  "tpep_pickup_datetime" TIMESTAMP,\n  "tpep_dropoff_datetime" TIMESTAMP,\n  "passenger_count" REAL,\n  "trip_distance" REAL,\n  "RatecodeID" REAL,\n  "store_and_fwd_flag" TEXT,\n  "PULocationID" INTEGER,\n  "DOLocationID" INTEGER,\n  "payment_type" INTEGER,\n  "fare_amount" REAL,\n  "extra" REAL,\n  "mta_tax" REAL,\n  "tip_amount" REAL,\n  "tolls_amount" REAL,\n  "improvement_surcharge" REAL,\n  "total_amount" REAL,\n  "congestion_surcharge" REAL,\n  "airport_fee" REAL\n)'

In [16]:
print(pd.io.sql.get_schema(df, name = 'yellow taxi data'))

CREATE TABLE "yellow taxi data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" REAL
)

In [17]:
from sqlalchemy import create_engine

In [8]:
engine  = create_engine('postgresql://root:root@localhost:5432/ny_taxi') 
# Define the type of database we have, which is postgres, then specify the user which is root, and then the password,
# and the host name which is local host, the port and the database name

In [18]:
engine.connect()

In [19]:
print(pd.io.sql.get_schema(df, name = 'yellow taxi data', con = engine)) # con is connection #Now we have the DDL in Postgres

CREATE TABLE "yellow taxi data" (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [20]:
#Import the column titles to sql
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace') 
#If_exist is how to behave if the table is exist

0

In [21]:
#Import the data of table to sql
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

Wall time: 4min 32s

931